@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.checker_board {
    @include flex(row, space-around);
    height: 100%;
    width: 100%
}

.board_container {
    @include flex(row, center);
    @include border();
    height: 60%;
    width: 40%;
}

.checker_board_column_black {
    :nth-child(even) {
        background-color: $black;
    }
    :nth-child(odd) {
        background-color: $tan;
    }
}

.checker_board_column_black, .checker_board_column_tan {
    height: 95%;
    width: 11.5%;
    div {
        @include border($color: $white);
        height: 12%;
        width: 100%;
    }
}

.checker_board_column_tan {
    :nth-child(even) {
        background-color: $tan;
    }
    :nth-child(odd) {
        background-color: $black;
    }
}

.dead_black_piece_container, .dead_red_piece_container {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    background-color: $tan;
    padding: 20px;
    height: 50%;
    width: 15%;
    div {
        margin-right: 20px;
    }
}

.space {
    @include flex(row, center, center);
}

.black_checker, .red_checker {
    @include flex(row, center, center);
    border: 1px solid $white !important;
    height: 60px !important;
    width: 60px !important;
    border-radius: 100%;
    overflow: hidden;
    transition: display 0.5;
    img {
        border-radius: 100%;
        height: 40px;
        width: 70px;
    }
}

.black_checker, .dead_black_checker, .black_checker p {
    background-color: $black !important;
    font-size: 5px;
}

.red_checker, .dead_red_checker, .red_checker p {
    background-color: $red !important;
    font-size: 10px;
}

.dead_black_checker, .dead_red_checker {
    @include border($white);
    height: 60px;
    width: 60px;
    border-radius: 100%;
}